{% load static %}
<html>
<head>
<title>SignUp</title>
</head>
    <link rel="stylesheet" type="text/css" href="{% static '/cas/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/cas/style1.css'%}">
<body>
    <header>
        <div class="navigation">
            <ul class="menu">
                <li><a href="/welcome/">Home</a></li>
                <li><a href="/cas/login/">Login</a></li>
                <li><a href="">SignUp</a></li>
                <li><a href="/aboutus/">AboutUs</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>
    </header>
    <div class="loginbox">
    <img src="{% static '/cas/login_image.png'%}" class="login_image">
        <h1>SignUp</h1>
	    {% block content %}
        <form action="" method="post" >{% csrf_token %}
            <!--<p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" id="username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" id="password"><br/>
            <p style="color: Red">{{ error1 }}</p>
            <p>Confirm Password</p>
            <input type="password" name="cpassword" placeholder="ReEnter Password" id="cpassword"><br/>
            <p style="color:Red">{{error2}}</p>
            <p>Email Id</p>
            <input type="text" name="emailid" placeholder="Enter EmailId" id="emailid"><br/>
            <p>Contact No</p>
            <input type="text" name="mobileno" placeholder="Enter Contact No" id="mobileno"><br/>-->
			{{form1.username.label}}
			{{form1.username}}
			{{form1.password.label}}
			{{form1.password}}
			{{form1.email.label}}
			{{form1.email}}
			
			{{form2}}
            <input type="submit" name="submit" value="SignUp"><br/>
            <a href="/cas/login/">Already have an Account? Login</a>
        </form>
        {% endblock %}
    </div>
</body>
</html>