{% block content %}
<div class="navbar">
  <a href="/welcome/">Home</a>
  <a href="/cas/register/">New User</a>
  <a href="/cas/login/">Login</a>
  <a href="/gallery/">Gallery</a>
  <a href="/aboutus/">About Us</a>
 </div>
 </body>
</html>

 <!--<div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>--> 
</div>
<!--in choice.html
<br>
<br>-->
user registeration <a href="/register/"> click here</a>
<br>
<br>
user login <a href="/cas/login/"> click here</a>
<br>
<br>
{%endblock%}

