{% load static %}
<html>
<head>
<title>WELCOME</title>
</head>
    <link rel="stylesheet" type="text/css" href="{% static '/cas/style2.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static '/cas/style1.css'%}">
<body>
    <header>
        <div class="navigation">
            <img src="{% static '/cas/canteen_logonew.png'%}" class="canteen_logo">
            <ul class="menu">
                <li><a href="/welcome/">Home</a></li>
                <li><a href="/cas/login/">Login</a></li>
                <li><a href="/register/">SignUp</a></li>
                <li><a href="/aboutus">AboutUs</a></li>
                           </ul>
        </div>
    </header>
    <div class="loginbox">
   
    </div>
</body>
</html>